/* ver 3 oct 2023 validated */
* {
    margin: 0px;
    font-family: 'Tilt Neon', cursive;
}

h1 {
    color: #ffe8ec;
    background-color: #26222a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
}
a, .navigation_bar {
    color: #ffe8ec;
    text-decoration: none;
}

a:hover {
    color: #f08080;
    text-decoration: underline;
}

ul {
    list-style: none;
}

footer {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right:auto;
    width: 260px;
    text-align: center;
    color: rgb(255, 232, 236);
}

body {
    background-image: url("../images/emoji_wallpaper.png");
    background-attachment: fixed;
}

button {
    background-color: rgb(255, 232, 236);
    border-radius: 5px;
}

button:hover {
    color: white;
    background-color: lightcoral;
    border-radius: 5px;
    box-shadow: 0px 1px 10px lightcoral;
}

.rps_button_stack > button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header {
    width: 100%;
    text-align: center;
}

.navigation_bar {
    width: 100%;
    text-align: center;
}

.main {
    width: 100%;
    text-align: center;
}

.universal_board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
}

#announcement_board {
    outline: 0px;
    border-radius: 5px;
    outline-style: auto;
    width: 250px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: lightcoral;
    box-shadow: 5px 1px 15px lightcoral;
    color: white;
}

.rps_button {
    font-size: 40px;
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.socials_icon_style {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: rgb(38, 34, 42);
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    letter-spacing: 25px;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Cards that cannot be visually hovered */
#cpu_slot_1:hover, #cpu_slot_2:hover, #cpu_slot_3:hover, #closed_submit_button:hover {
    box-shadow: 0px 0px;
}

#game_window {
    padding: 5px;
    background-color: rgb(255, 232, 236);
}

#player_slot_1 {
    background-color: rgb(255, 232, 236);
    border: solid grey 1px;
    border-radius: 5px;
}

#player_slot_2 {
    background-color: rgb(255, 232, 236);
    border: solid grey 1px;
    border-radius: 5px;
}

#player_slot_3 {
    background-color: rgb(255, 232, 236);
    border: solid grey 1px;
    border-radius: 5px;
}

#cpu_slot_1 {
    background-color: rgb(255, 232, 236);
    border: solid grey 1px;
    border-radius: 5px;
}

#cpu_slot_2 {
    background-color: rgb(255, 232, 236);
    border: solid grey 1px;
    border-radius: 5px;
}

#cpu_slot_3 {
    background-color: rgb(255, 232, 236);
    border: solid grey 1px;
    border-radius: 5px;
}

#shuffle_board {
    font-size: 25px;
}

#shuffle_board > button{
    font-size: 25px;
    margin-top: 20px;
}

#guess_alias_slot_rock {
    background-color: rgb(255, 232, 236);
    border: solid grey 1px;
    border-radius: 5px;
}

#guess_alias_slot_paper {
    background-color: rgb(255, 232, 236);
    border: solid grey 1px;
    border-radius: 5px;
}

#guess_alias_slot_scissors {
    background-color: rgb(255, 232, 236);
    border: solid grey 1px;
    border-radius: 5px;
}

#submit_pick > button{
    width: 70px;
    height: 50px;
}

#alias_submit_button > button {
    margin: 20px;
    width: 100px;
    height: 50px;
}

#reset_button {
    margin: 20px;
    width: 100px;
    height: 50px;   
   }

#closed_submit_button {
    color: grey;
    background-color: rgb(255, 232, 236);
    border: solid grey 1px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 20px;
        width: 250px;
    }

    p {
        padding-left: 15px;
        padding-right: 15px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
    }

    #game_window {
        height: 530px;
        outline: 3px;
        outline-style: solid;
    }

    #player_board {
        margin-left: 0px;
        margin-right: 10%;
    }

    #cpu_board {
        margin-left: 10%;
        margin-right: 0px;
    }

    #game_rules {
        margin-top: 100px;
        border-radius: 0px;
        background-color: rgb(38, 34, 42);
        color: rgb(255, 232, 236);
        text-align: center;
        width: 100%;
    }
    
}

@media (min-width: 768px) {
    h1 {
        font-size: 35px;
        width: 500px;
    }

    p {
        padding-left: 100px;
        padding-right: 100px;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
    }

    #game_rules {
        width: 1000px;
    }

    #game_window {
        margin-left: auto;
        margin-right: auto;
        width: 700px;
        height: 530px;
        outline: 3px;
        outline-style: solid;
        border-radius: 10px;
        box-shadow: 10px 1px 20px rgb(0, 0, 0);
    }

    #player_board {
        margin-left: 100px;
        margin-right: 150px;
    }

    #cpu_board {
        margin-left: 150px;
        margin-right: 100px;
    }

    #game_rules {
        margin-top: 100px;
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(38, 34, 42);
        color: rgb(255, 232, 236);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
